{% extends "base.html" %}

{% block content %}
<div class="panel">
  <div class="toolbar" id="dutyBar">
    <button class="mini" id="dayPrev">◀ السابق</button>
    <input type="date" id="dutyDate" class="select">
    <button class="mini" id="dayNext">التالي ▶</button>
    <button class="mini" id="dayToday">النهاردة</button>
    <button class="mini ok" id="dayTomorrow">بكرة</button>
  </div>
  <div id="matchBoard"></div>
</div>
{% endblock %}

{% block modals %}{% include "partials/entry_modal.html" %}{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/board.js') }}"></script>
{% endblock %}
