{% extends "base.html" %}
{% block page_actions %}
<button class="primary" id="addMissionBtn">{{ icon('plus') }} مأمورية جديدة</button>
{% endblock %}

{% block content %}
<div class="panel">
  <div class="toolbar">
    <select id="msnStatusFilter" class="select" aria-label="تصفية حسب الحالة">
      <option value="">كل الحالات</option>
    </select>
  </div>
  <div id="missionsWrap" data-mobile-cards>{{ skeleton("rows", 4) }}</div>
</div>
{% endblock %}

{% block modals %}{% include "partials/mission_modal.html" %}{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/missions.js') }}"></script>
{% endblock %}
